<main class="w-full h-full relative flex flex-col justify-start items-center ">
    <h1 class="text-2xl font-semibold text-slate-200 flex justify-center items-center 
     py-4 px-5 border-b-2 border-r-2 border-slate-400 rounded-br-2xl absolute top-0 left-0">
        {{title}}
    </h1>
    <div class="px-[10rem] w-full mt-[13rem] text-xl text-slate-300 flex flex-col justify-center items-start gap-10">
        <h2 class="text-2xl text-center w-full">Etes-vous sûr de vouloir supprimer votre compte ?</h2>
        <div class="flex justify-around items-center gap-3 w-full">
            <button (click)="toProfile()"
                class="text-2xl font-medium  border-2 py-2 px-20 rounded-2xl text-center border-slate-200 text-slate-2000 hover:text-slate-200 hover:bg-[#ffbf003b] hover:border-[#ffbf00] duration-300 w-full animate__animated animate__fadeInUp animate__slower cursor-pointer">
                NON
            </button>
            <button (click)="deleteAccount()"
                class="text-2xl font-medium  border-2 py-2 px-20 rounded-2xl text-center border-red-700 text-red-600 hover:text-slate-200 hover:bg-red-700 duration-300 w-full animate__animated animate__fadeInUp animate__slower">
                OUI
            </button>
        </div>
    </div>
</main>