<main class="flex flex-col justify-start items-center h-[92vh] bg-gradient-to-br from-[#35478b] via-black to-[#8e477d] py-10">
    <div class="border-2 rounded-2xl w-[90%] h-full flex border-slate-400">
        <section class="w-3/4 h-full">
            <!-- Contenu principal ici -->
        </section>
        <section class="w-1/4 h-full border-l-2 border-slate-400 py-10 flex flex-col justify-start items-center">
            <img src="premium.png" class="w-[13rem]">
            <h3 class="text-4xl my-5 break-words text-center text-slate-300">
                Devenez Membre 
                <br>
                <strong class="text-[#ffbf00]">
                    V-Premium
                </strong>
            </h3>
            <p class="px-5 text-center">
                Devenir membre présente un grand avantage, vous aurez accès à nos produits les plus récents et à nos laboratoires <strong>24/7</strong>. Vous bénéficierez de réductions sur le prix des <strong>composés</strong>. N’attendez plus et devenez membre <strong>V-Premium</strong> !
            </p>
            <ul class="my-10 flex flex-col justify-start items-start">
                <li class="flex justify-center items-center gap-2">
                    <img class="w-5" src="correct.png">
                    <p class="mb-0.5">Réduction sur l'ensemble des prix.</p>
                </li>
                <li class="flex justify-center items-center gap-2">
                    <img class="w-5" src="correct.png">
                    <p class="mb-0.5">Accès aux laboratoires 7j/7 et 24h/24.</p>
                </li>
                <li class="flex justify-center items-center gap-2">
                    <img class="w-5" src="correct.png">
                    <p class="mb-0.5">Possibilité d'acheter nos derniers produits.</p>
                </li>
                <li class="flex justify-center items-center gap-2">
                    <img class="w-5" src="correct.png">
                    <p class="mb-0.5">Faire partie de la Génération V 😎​.</p>
                </li>
            </ul>
            <button class="btn w- text-[#fffaec] bg-[#ffbf003b] border-[#ffbf00] hover:bg-[#e38400]">
                Découvrir V-Premium
            </button>
        </section>
    </div>
</main>
