<div
  class="hero h-[92vh] w-full rounded-t-3xl overflow-hidden border-2 border-[#35478b] "
  style="background-image: url(https://cdn.midjourney.com/046c0ef8-a3d7-43d8-8c04-7d4dd187372d/0_1.png);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-6xl font-bold text-slate-200 text-shadow animate__animated animate__fadeIn animate__slower  animate__delay-1s">V-Premium</h1>
      <p class="mb-5 text-2xl text-slate-300 animate__animated animate__fadeIn animate__slower animate__delay-2s">
        Profitez du pass V-Premium <br> afin d'accédez à notre toute dernière trouvaille.
      </p>
      <a routerLink="/profile"
      class="btn bg-gradient-to-br from-[#35478b] via-black to-[#8e477d] text-slate-300 duration-500 border-none  hover:ring-slate-100 ring-slate-300 font-semibold outline-none text-lg shadow-lg hover:text-slate-100 hover:ring-2 animate__animated animate__fadeIn animate__slower  animate__delay-3s z-40">Devenir V-Premium</a>
    </div>
  </div>
</div>