<main
  class="flex flex-col gap-20 justify-start items-center h-[92vh] bg-gradient-to-br from-[#35478b] via-black to-[#8e477d] py-36 ">
  <div class="flex flex-col justify-center items-center gap-2 animate__animated animate__fadeIn animate__slower ">
    <h1 class="text-4xl font-bold text-slate-300">Connectez vous à votre compte</h1>
    <h3 class="text-xl">Ou <a class="cursor-pointer text-[#465db3] hover:text-[#8e477d] duration-300" >S'enregistrer</a></h3>
  </div>

  <form class="flex flex-col justify-start items-center gap-3 w-[20rem] rounded-3xl animate__animated animate__fadeIn animate__slower  animate__delay-1s">
    <label class="input input-bordered flex items-center gap-2 w-full h-[2.5rem]">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
      </svg>
      <input type="text" class="grow" placeholder="Username" />
    </label>
    <label class="input input-bordered flex items-center gap-2 w-full h-[2.5rem]">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
        <path fill-rule="evenodd"
          d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
          clip-rule="evenodd" />
      </svg>
      <input type="password" class="grow" value="password" />
    </label>
    <div class="w-full flex items-center justify-between">
      <label class="label cursor-pointer flex justify-center items-center gap-3">
        <input type="checkbox" checked="checked" class="checkbox  w-5 h-5" />
        <span class="label-text">Se souvenir de moi</span>
      </label>
      <a class="label-text cursor-pointer text-[#465db3] hover:text-[#8e477d] duration-300">Mot de passe oublié ?</a>
    </div>
    <button class="btn w-full">
Se connecter
    </button>
    <div class="divider divider-neutral">Continuer avec</div>
    <div class="flex justify-between items-center w-full">
      <button class="btn h-[3.5rem] w-auto hover:opacity-80">
        <img src="google-icon.svg" class="my-2 mx-4">
      </button>
      <button class="btn min-h-auto h-[3.5rem] w-auto hover:opacity-80">
        <img src="twitter.svg" class="my-2 mx-4">
      </button>
      <button class="btn h-[3.5rem] w-auto hover:opacity-80">
        <img src="tiktok-icon.svg" class="my-2 mx-4">
      </button>
    </div>
  </form>
</main>