<div class="card bg-base-100 shadow-xl w-[25rem]" data-aos="flip-left" data-aos-duration="1000" [attr.data-aos-delay]="delay" 
[ngClass]="{'animate-none shadow-2xl shadow-[#ffbf0031] hover:animate-pulse duration-300  ': premium}"
>
  <figure>
    <img class="hover:scale-105 duration-500 cursor-pointer" src={{image}} alt="Shoes" />
  </figure>
  <div class="card-body">
    <div class="card-title text-slate-100 font-semibold text-2xl mb-5 flex justify-between">
      <h3 class="text-shadow">Composé -
        <span [ngStyle]="{'color': '#' + color}" class="font-bold no-shadow">{{title}}
        </span>
      </h3>
      <div *ngIf="premium" class="badge badge-warning badge-outline hover:bg-[#ffbf00] hover:text-[#1d232a] cursor-pointer p-3 duration-500">Premium
      </div>
    </div>

    <div class="card-actions justify-end">
      <button class="btn text-slate-200" [ngStyle]="{
            'background-color': Hover ? 'transparent' : '#' + color,
            'color': Hover ? '#' + color : 'white',
            'border-color': Hover ? '#' + color : 'transparent'
          }" (mouseover)="Hover = true" (mouseleave)="Hover = false">En savoir plus</button>
    </div>
  </div>
</div>